.more-screen .icon-row {
  margin-top: 35px;
}
.user-component__subtitle {
  display: flex;
  gap: 5px;
}
.user-component__subtitle-badge {
  border: 1px solid tomato;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: tomato;
  font-weight: 600;
}

.more-suggestions {
  border-top: var(--main-border);
  padding-top: 40px;
}
.more-suggestions__title {
  margin-bottom: 30px;
}
.more-suggestions__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}

.more-screen .icon-row {
  flex-wrap: wrap;
  justify-content: start;
  padding: 0 15px;
  gap: 50px;
}
.more-screen .icon-row__icon {
  margin-bottom: 50px;
  position: relative;
}
.more-screen .icon-row__icon .badge {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -30px;
  right: 0;
}
