.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}
.screen-header__icons span:not(:first-child) {
  margin-left: 20px;
}
.screen-header__icon {
  position: relative;
  display: inline-block;
}
.screen-header__notification {
  position: absolute;
  top: -5px;
}
